<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="LogFile" xsi:type="File" fileName="log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${threadid}|${message}|${exception:format=tostring}"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile" />
  </rules>
</nlog>

